Repository thebiltheory/suave: changes, and which Codecov flags are due for each by the changed paths.
All: web, design-system, app, tests

.codecov.yml:

coverage:
  status:
    project:
      default: off
      web:
        target: 80%
        flags: web
      design-system:
        target: 80%
        flags: design-system
      app:
        target: 80%
        flags: app

flags:
  # filter the folder(s) you wish to measure by that flag
  web:
    # only include files in the backend folder
    paths:
      - packages/web/
  design-system:
    paths:
      - packages/design-system/
  app:
    paths:
      - packages/app/
  tests:
    paths:
      - tests/

chore: ugrape packages
  package.json
Due: none

update README.md
  README.md
Due: none

chore: upgrade packages
  package.json
Due: none

chore: upgrade design-system files
  packages/app/yarn-error.log
  packages/design-system/.babelrc
  packages/design-system/.eslintignore
  packages/design-system/.eslintrc
  packages/design-system/.prettierrc
  packages/design-system/.travis.yml
  packages/design-system/README.md
  packages/design-system/example/README.md
  packages/design-system/example/package.json
  packages/design-system/example/public/favicon.ico
  packages/design-system/example/public/index.html
  packages/design-system/example/public/manifest.json
  packages/design-system/example/src/App.js
  packages/design-system/example/src/App.test.js
  packages/design-system/example/src/index.css
  packages/design-system/example/src/index.js
  packages/design-system/package.json
  packages/design-system/rollup.config.js
  packages/design-system/src/index.js
  packages/design-system/src/index.test.tsx
  packages/design-system/src/index.tsx
  packages/design-system/src/styles.css
  packages/design-system/src/styles.module.css
  packages/design-system/src/typings.d.ts
  packages/design-system/tsconfig.json
  packages/design-system/tsconfig.test.json
  packages/web/package.json
  yarn.lock
Due: web, design-system, app

feat: upgrade design-system
  .gitignore
  packages/design-system/example/README.md
  packages/design-system/example/package.json
  packages/design-system/example/public/favicon.ico
  packages/design-system/example/public/index.html
  packages/design-system/example/public/manifest.json
  packages/design-system/example/src/App.js
  packages/design-system/example/src/App.test.js
  packages/design-system/example/src/index.css
  packages/design-system/example/src/index.js
  packages/design-system/package.json
  packages/design-system/src/.eslintrc
  packages/design-system/src/index.test.tsx
  packages/design-system/src/index.tsx
  packages/design-system/src/styles.module.css
  packages/design-system/src/typings.d.ts
  packages/web/package.json
  yarn.lock
Due: web, design-system
